Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.sbr
obj/
[Rr]elease*/
TPSDemo/[Dd]ebug*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
TPSdemo.opensdf